
html
    body
        width 90%
        margin 0 auto


// 方法
border-radius(n)
    border-radius n

#app
    position relative

    .App
        position relative
        
        .App-header
            border-radius(10px)

        // 文档标题
        .index-title
            font-size .4rem
            text-align left

            margin-top .3rem